<header>
  <nav class="flex justify-between text-gray-200">
    <ul class="flex">
      <li class="nav-link">Basic Information</li>
      <li class="nav-link">Contact Information</li>
      <li class="nav-link active">Details</li>
    </ul>
    <ul class="flex">
      <li class="nav-link">Settings</li>
      <li class="nav-link">Password</li>
      <li class="nav-link">Sign Out</li>
    </ul>
  </nav>
</header>